<% layout('page-layout') -%>

<!-- Files to manage func lists -->
<% script('func-list-selector.js') -%>
<% script('func-list-view.js') -%>

<!-- ********** SHORT HELPER FUNCTION TO RUN ON SERVER SIDE ****** -->
<%
var MATT_POWER_PS  = ['&nbsp;','K','M','G','T','P'];
var MATT_POWER_NPS = [' ','K','M','G','T','P'];
function mattHumanReadableValue(value,unit,protectedSpace)
{
		var power = 0;
		while (value >= 1024)
		{
			power++;
			value /= 1024;
		}

		var res;
		if (protectedSpace)
			res = value.toFixed(1) + " " + MATT_POWER_PS[power] + unit;
		else
			res = value.toFixed(1) + " " + MATT_POWER_NPS[power] + unit;

		return res;
}
%>

<!-- ****************** STACK ANALYSER *************** -->
<div class="container-fluid">
	<div>
		<!-- Global summary -->
		<h2>Global statistics</h2>
		<table class='table-func-list' id='table-global-summary'>
			<tr>
				<th>Metric</th>
				<th>Value</th>
				<th>Descr</th>
			</tr>
			<tr>
				<td>Max virtual memory</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.virtualMem,'B') %></td>
				<td><i>Peak of total virtual memory obtained by tracking /proc/self/statm. It contain all allocated objects, global variables and binary code.</i></td>
			</tr>
			<tr>
				<td>Max physical memory</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.physicalMem,'B') %></td>
				<td><i>Peak of total physical memory obtained by tracking /proc/self/statm. It contain all allocated objects, global variables and binary code.</i></td>
			</tr>
			<tr>
				<td>Max requested memory</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.requestedMem,'B') %></td>
				<td><i>Peak of requested memory managed by malloc, free... It contain all dynamically allocated objects.</i></td>
			</tr>
			<tr>
				<td>Cumulated memory allocations</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.cumulAllocs,'B') %></td>
				<td><i>Sum of all dyanmic memory allocation throuth malloc, calloc, realloc....</i></td>
			</tr>
			<tr>
				<td>Recycling ratio</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.cumulAllocs/globalStats.requestedMem,'') %></td>
				<td><i>Ratio of cumulated memory allocations over maximum requested memory. Ideally it might be 1 if the program allocate the memory on start and free on end.</i></td>
			</tr>
			<tr>
				<td>Allocation count</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.count,'') %></td>
				<td><i>Total number of all dyanmic memory allocation throuth malloc, calloc, realloc....</i></td>
			</tr>
			<tr>
				<td>Peak objects count</td>
				<td class='size'></td>
				<td><i>Maximum alive dyanmic chunks allocated by malloc, calloc...</i></td>
			</tr>
			<tr>
				<td>Smallest allocations</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.minChunkSize,'B') %></td>
				<td><i>The smallest request size received by malloc, calloc...</i></td>
			</tr>
			<tr>
				<td>Largest allocations</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.maxChunkSize,'B') %></td>
				<td><i>The largest request size received by malloc, calloc...</i></td>
			</tr>
			<tr>
				<td>Largest stack</td>
				<td class='size'><%= mattHumanReadableValue(globalStats.largestStack,'B') %></td>
				<td><i>Largest stack used by the program during the execution of all threads. Obtained by tracking RSP register while entering and exiting functions.</i></td>
			</tr>
			<tr>
				<td>Leaks</td>
				<td class='size'></td>
				<td><i>Total memory which has leaked (malloc, calloc... without free).</i></td>
			</tr>
		</table>
	</div>
	
	<!-- Top functions -->
	<div>
		<h2>Alloc count</h2>
		<div id='table-func-list-count'/>
	</div>
	<div>
		<h2>Allocated memory</h2>
		<div id='table-func-list-mem'/>
	</div>
	<div>
		<h2>Peak memory</h2>
		<div id='table-func-list-peak'/>
	</div>
	<div>
		<h2>Leaks</h2>
		<div id='table-func-list-leaks'/>
	</div>
	<div>
		<h2>Smallest allocations</h2>
		<div id='table-func-list-min'/>
	</div>
</div>

<!-- Main script to run on page load -->
<script type='text/javascript'>
	$( document ).ready(function() {
		var topX = 5;
	
		//alloc count
		var funcListSelectorCount = new MattFuncListSelector({sort:'asc',metric:'alloc.count',mode:'own',count:topX});
		var mattFuncListCount = new MattFuncListView('table-func-list-count',MATT_FUNC_LIST_TABLE_VIEW,funcListSelectorCount);
		
		//allocated mem
		var funcListSelectorMem = new MattFuncListSelector({sort:'asc',metric:'alloc.sum',mode:'own',count:topX});
		var mattFuncListMem = new MattFuncListView('table-func-list-mem',MATT_FUNC_LIST_TABLE_VIEW,funcListSelectorMem);
		
		//allocated mem
		var funcListSelectorMin = new MattFuncListSelector({sort:'desc',metric:'alloc.min',mode:'own',count:topX});
		var mattFuncListMin = new MattFuncListView('table-func-list-min',MATT_FUNC_LIST_TABLE_VIEW,funcListSelectorMin);
		
		//allocated leaks
		var funcListSelectorLeaks = new MattFuncListSelector({sort:'asc',metric:'leaks',mode:'own',count:topX});
		var mattFuncListLeaks = new MattFuncListView('table-func-list-leaks',MATT_FUNC_LIST_TABLE_VIEW,funcListSelectorLeaks);
		
		//allocated peak
		var funcListSelectorPeak = new MattFuncListSelector({sort:'asc',metric:'peakmem',mode:'own',count:topX});
		var mattFuncListPeak = new MattFuncListView('table-func-list-peak',MATT_FUNC_LIST_TABLE_VIEW,funcListSelectorPeak);
	
		//use common data for all objs to limit request numbers
		$.getJSON( "flat.json", function( data ) {
			mattFuncListCount.setData(data);
			mattFuncListMem.setData(data);
			mattFuncListMin.setData(data);
			mattFuncListLeaks.setData(data);
			mattFuncListPeak.setData(data);
		});
	});
</script>
