<%
/************** Short helper to convert values to human readable format ****************/
function mattHumanValue(data,value)
{
	if (data.unit == '%')
		return (100.0*value/data.ref).toFixed(1) + " %";
	else
		return mattHelper.humanReadableValue(value,data.unit);
}
%>

<table class='table-func-list'>
	<tr>
		<th>Ratio</th>
		<th>Allocs</th>
		<th>Function</th>
	</tr>
	<% for(var i in data.entries.slice(range.from,range.count)) {%>
		<tr>
			<td class='progress-td'>
				<div class='progress'>
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= (100.0 * data.entries[i].value) / data.ref %>%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
			</td>
			<td class='size'><%= mattHumanValue(data,data.entries[i].value) %></td>
			<td class='func'><a href="javascript:document.getElementById('<%= containerId %>').matt.clickEntry(<%= i %>);"><%= $('<div/>').text(data.entries[i].name).html() %></a></td>
		</tr>
	<% } %>
</table>